.main-color {
    background-color: #0a9fbc;
}

.sec-color {
    background-color: #A7E1EC;
}

#main-nav.nav-tabs .nav-item .nav-link {
    background-color: #A7E1EC;
    border-color: #A7E1EC;
}

.container-lg {
    background-color: #A7E1EC;
    margin-top: 10%

}

.title {
    margin-left: 2.5%;
    scroll-margin-top: 2.5%;
}

.game_window {
    background-color: #FFFBEF;
    border-style: solid;
    border-radius: 15px;
    border-color: #6C8EBF; /*6C8EBF*/
}

.lb_window {
    background-color: #FFFBEF;
    border-style: solid;
    border-radius: 15px;
    border-color: #6C8EBF; /*6C8EBF*/
}

#lb_content {
    background-color: white;
    border-color: #dee2e6;
    border-top: white;
    border-bottom-left-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    border-width: 1px;
    border-style: solid;
    padding: 25px
}

.abt_main {
    background-color: #6cd7ec;
    width: 100%; 
    margin: 0 auto; 
    padding: 20px; 
    border: 2px solid #6C8EBF; 
    border-radius: 10px;
    }


#about_style {
    background-color: #000304;
    border-radius: 15px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    color: transparent;
    animation: moveGradient 5s linear infinite, changeTextColor 5s linear infinite;
}

@keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  
@keyframes changeTextColor {
    0% {
        color: #2372d9;
    }
    25% {
        color: #5cffe1;
    }
    50% {
        color: #0FB8AD;
    }
    75% {
        color: #9bff5c;
    }
    100% {
        color: #0FB8AD;
    }
}

.creators-section {
    background-color: #f9f9f9;
    
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

#creators_style {
    list-style-type: none;
}

#footer-content {
    background-color: #0a9fbc;
    align-content: center;
    list-style-type: none;
    padding: 25px;
    margin-top: 25%;
    
}

#footer-content a:link {
    text-decoration: none;
    color: black;
    
}

#footer-content a:hover {
    color: white;
    
}

/*
background-color: #e1f2f5;

.navi {
    margin-left: 1%;
    display: inline;
}

.navbar {
    margin-top: 2%;
    background-color: #0a9fbc;
    padding: 20px;
}

li a {
    text-decoration: none;
    color: black
}

li a:hover {
    color: white;
}

*/