@font-face { 
    font-family: 'KouzanBrushGyousyo'; 
    src: 
        url('KouzanGyoushoOTF.otf') format('opentype'),
        url('KouzanBrushFontGyousyoOTF.woff') format('woff'),
        url('KouzanBrushFontGyousyoOTF.woff2') format('woff2');
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'KouzanBrushGyousyo';
}